$icomoon-font-family: "BBC-regular" !default;
$icomoon-font-path: "fonts" !default;

$bbc-angle-double-left: "\e900";
$bbc-angle-double-right: "\e901";
$bbc-angle-left: "\e902";
$bbc-angle-right: "\e903";
$bbc-arrow-alt-to-top: "\e904";
$bbc-arrow-left: "\e905";
$bbc-arrow-right: "\e906";
$bbc-arrow-to-top: "\e90a";
$bbc-calendar: "\e908";
$bbc-calendar-alt: "\e909";
$bbc-calendar-check: "\e90b";
$bbc-check: "\e90c";
$bbc-chevron-left: "\e90d";
$bbc-chevron-right: "\e90e";
$bbc-comment-alt-dots: "\e907";
$bbc-comments-alt: "\e927";
$bbc-envelope: "\e90f";
$bbc-eye: "\e910";
$bbc-globe: "\e924";
$bbc-globe-asia: "\e925";
$bbc-heart: "\e911";
$bbc-home: "\e912";
$bbc-link: "\e928";
$bbc-lock-alt: "\e913";
$bbc-long-arrow-left: "\e914";
$bbc-long-arrow-right: "\e915";
$bbc-map-marker-alt: "\e916";
$bbc-mobile: "\e917";
$bbc-mobile-alt: "\e918";
$bbc-phone: "\e919";
$bbc-phone-volume: "\e91a";
$bbc-play: "\e91b";
$bbc-plus: "\e91c";
$bbc-search: "\e91d";
$bbc-share-alt: "\e91e";
$bbc-star: "\e91f";
$bbc-sync: "\e920";
$bbc-times: "\e921";
$bbc-trash-alt: "\e922";
$bbc-user: "\e923";
$bbc-users: "\e926";

