$icomoon-font-family: "BBC-Brands" !default;
$icomoon-font-path: "fonts" !default;

$bbc-baidu-tie: "\e900";
$bbc-douban: "\e901";
$bbc-micro-programe: "\e902";
$bbc-qq: "\e903";
$bbc-qqzone: "\e904";
$bbc-renren: "\e905";
$bbc-tencent-weibo: "\e906";
$bbc-weibo: "\e907";
$bbc-weixin: "\e908";

